@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@layer components {
  html, body {
    overscroll-behavior: none;
  }

  body {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
    background-color: #f9f9f9;
    color: #333333;

    @apply touch-manipulation;
  }

  .btn {
    @apply bg-white px-4 py-2 rounded-full shadow border-6 border-double border-black block text-center;
  }

  .input {
    @apply ring-2 ring-gray-500 rounded p-4 w-full;

    &:focus {
      @apply outline-none ring-3 ring-gray-900;
    }
  }

  .border-wave {
    @apply relative py-6;

    &::before,
    &::after {
      @apply absolute left-0 right-0 h-5;
      content: '';
      background-image: url('/images/wave-border.svg');
      background-size: 100% 100%;
      background-repeat: repeat-x;
    }

    &::before {
      @apply top-0;
    }

    &::after {
      @apply bottom-0;
    }
  }
}

::view-transition-old(root) {
  animation: slide-out-left 0.3s ease-in-out;
}

/* Новая страница выезжает справа */
::view-transition-new(root) {
  animation: slide-in-right 0.3s ease-in-out;
}

/* Анимация для старой страницы */
@keyframes slide-out-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

/* Анимация для новой страницы */
@keyframes slide-in-right {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

/* Опционально: убираем default fade эффект */
::view-transition-old(root),
::view-transition-new(root) {
  animation-timing-function: ease-in-out;
  mix-blend-mode: normal;
}
